
body {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}
.font_righteous {
  font-family: 'Righteous', cursive;
}
.bck_black {
  background: #3c3c3c;
}
.bck_white {
  background: #ffffff;
}
.bck_red {
  background: #0C2340;
}
.bck_yellow {
  background: #0C2340;
}
.iconImage {
  width: 20px;
  margin-right: 10px;
}
.center_wrapper {
  width: 900px;
  margin:0 auto;
}


/*====================
        HEADER
======================*/
header {
  padding:10px 0px;
  transition: all 300ms ease-in;
}
header .header_logo {
  flex-grow: 1;
}
header .header_logo_venue {
  font-size: 40px;
}
header .header_logo_title {
  text-transform: uppercase;
}


/*====================
        HIGHLIGHTS
======================*/
.highlight_wrapper h2 {
  text-align: center;
  text-transform: uppercase;
  color:#2c2c2c;
  font-size: 52px;
}
.highlight_wrapper .highlight_description {
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 30px 0px;
}
.discount_wrapper {
  display: flex;
  padding: 70px 0px;
}
.discount_wrapper .discount_porcentage {
  padding-right: 100px;
}
.discount_wrapper .discount_porcentage span:nth-child(1) {
  color: #0C2340;
  font-size: 125px;
  font-weight: 400;
  display: block;
  line-height: 120px;
}
.discount_wrapper .discount_porcentage span:nth-child(2) {
  color: #2c2c2c;
  font-size: 50px;
  font-weight: 400;
  display: block;
}
.discount_wrapper .discount_description h3 {
  font-size: 34px;
  font-weight: 100;
  margin: 0px;
  color: #2c2c2c;
}
.discount_wrapper .discount_description p { 
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
}

/*====================
      PRICING
======================*/
.pricing_section {
  padding: 70px 0px;
}
.pricing_section h2 {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  margin: 0;
}
.pricing_wrapper {
  display: flex;
  flex-wrap: wrap;
}
.pricing_wrapper .pricing_item{
  flex-grow: 1;
  width: 33%;
  padding: 20px;
  box-sizing: border-box;
}
.pricing_wrapper .pricing_inner_wrapper {
  border:2px solid #E4002C;
  padding: 50px 20px;
}
.pricing_inner_wrapper .pricing_title {
  color: #ffffff;
  text-align: center;
  border-bottom: 1px solid #E4002C;
  padding-bottom: 20px;
}
.pricing_inner_wrapper .pricing_title span:nth-child(1) {
  font-size: 50px;
  display: block;
}
.pricing_inner_wrapper .pricing_title span:nth-child(2) {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 300;
}
.pricing_inner_wrapper .pricing_description {
  color: #b8b8b8;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  padding: 20px 0px;
  min-height: 70px;
}
.pricing_inner_wrapper .pricing_buttons {
   text-align: center;
}


.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 5s linear;
    }
  }
  
  .input-field { 
    width:200px;
    height:30px;
    background-color:#000000;
    color:#FFFFFF;
    text-align:center;
    
  }
  
  .input-field:focus  { 
    color:#00FF00;
    background-color:#000000;
    font-size:30px;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .contents{
    display: flex;
    flex-wrap: wrap;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:rgb(255, 255, 255);
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
